<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
</head>
<footer>
    <div class="logos">
        <img class='coda_logo' src="http://www.codacommerce.com/wp-content/uploads/2019/03/logo.png">
        
    </div>
    <p>Contact: Luke-Allan@outlook.com</p>
    <div class="github_logo">
        <a href="https://github.com/Luke8081/Threat-Monitor" class="github_link"><i class="fa fa-github" id="github_link_img" style="font-size:50px"></i>Source Code</a>
        
        
    </div>
    
</footer>