<!DOCTYPE html>
<style>
#topnav {
   width: 100%;

   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;

   background-color: Black;

   font-family: Arial, sans-serif;
   font-size: 15px;
}

.nav-link {
   display: inline-block;
   width: 100px;
   height: 55px;

   color: White;

   text-align: center;
   line-height: 55px;

   text-decoration: none;
}



.nav-link:hover{
   font-weight: bold;
}

#logo {
    width: 16%;
   background-color: RoyalBlue;
   font-weight: bold;
   font-size: 20px;
}

#link{
    font-size: 18px;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#logo:hover{
   color: black;
}

#scan {
   position: absolute;
   top: 0;
   right: 0;
   width: 10%;
   background-color: green;
   font-size: 20px;
}

#scan:hover{
   cursor: pointer;
}

#scan_status{
   position: absolute;
   text-align: center;
   color: white;
   font-weight: normal;
   top: 0;
   right: 25%;
   margin-top: 0.7%;
   width: 15%;
   padding: 4px;
   background-color: gray;
   font-size: 20px;
   border-radius: 10px;
}

.block{
   cursor: wait;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  
}
</style>
<html>
   <body>
      <nav id="topnav">
         <a id="logo" class="nav-link" href="/">Dashboard</a>
         <a id="link" class="nav-link" href="/addresses">Reports</a>
         <h1 id="scan_status" class="scan_status">Not running</h1>
         <a id="scan" class="nav-link" onclick="run_scan()">Scan Now</a>
      </nav>
   </body>
 </html>

 <script>
   const xhr = new XMLHttpRequest();
   const url1 = "/status"
   const status_tag = document.getElementById("scan_status")
   const status_tag_class = document.getElementsByClassName('scan_status')
   var status = ''

   function get_status(){
      xhr.open("GET", url1, true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
         if (xhr.readyState === 4 && xhr.status === 200) {
            status = JSON.parse(xhr.responseText)['status'];
            status_tag.innerText = status
            if (status == "Running"){
               status_tag_class[0].style.backgroundColor = '#0e86d4'
               document.getElementById("scan").classList.add('block');
            } else if(status == "Finished"){
               status_tag_class[0].style.backgroundColor = 'green'
               document.getElementById("scan").classList.remove('block');
            } else if(status == "Error"){
               status_tag_class[0].style.backgroundColor = 'red'
               document.getElementById("scan").classList.remove('block');
            }else{
               status_tag_class[0].style.backgroundColor = 'gray'
            }
         }
      };
      xhr.send()
   }

   function run_scan(){
      if (status == "running"){
         return
      }
      xhr.open("GET", '/run', true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
         if (xhr.readyState === 4 && xhr.status === 200) {
            status_tag.innerHTML = 'Running'
            status_tag_class[0].style.backgroundColor = '#0e86d4'
            document.getElementById("scan").classList.add('block');
         }
      }
      xhr.send()
   }

   get_status()
   setInterval(function(){
      get_status()
   }, 4000)
 </script>