<body>
    <nav id="topnav">
       <a id="logo" class="nav-link" href="#">Scanner Dashboard</a>
       <a id="link" class="nav-link" href="#">View reports</a>
       <a id="link" class="nav-link" href="/addresses">Addresses</a>
       <a id="scan" class="nav-link" href="/run">Scan Now</a>
    </nav>
 </body>