<!DOCTYPE html>
<style>
       #topnav {
   width: 100%;

   position: fixed;
   top: 0;
   left: 0;

   background-color: Black;

   font-family: Arial, sans-serif;
   font-size: 15px;
}

.nav-link {
   display: inline-block;
   width: 100px;
   height: 55px;

   color: White;

   text-align: center;
   line-height: 55px;

   text-decoration: none;
}

#logo {
    width: 16%;
   background-color: RoyalBlue;
   font-weight: bold;
   font-size: 20px;
}

#link{
    font-size: 18px;
}

#scan {
   position: absolute;
   top: 0;
   right: 0;
   width: 10%;
   background-color: green;
   font-size: 20px;
   
}
</style>
<html>
   <body>
      <nav id="topnav">
         <a id="logo" class="nav-link" href="#">Scanner Dashboard</a>
         <a id="link" class="nav-link" href="#">View reports</a>
         <a id="link" class="nav-link" href="/addresses">Addresses</a>
         <a id="scan" class="nav-link" href="/run">Scan Now</a>
      </nav>
   </body>
 </html>