<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="css/home.css" />
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <meta charset="utf-8">
      <title>Scanner Dashboard</title>
   </head>

<%- include ('./partials/nav'); %>

<body>
   
   <div class="row">
      <div class="col-6">
         <div class="output-container">
            <nav class="output-nav">
               <div id='console' class="console-button" onclick="console_click()">Console</div>
               <div id='address' class="addresses-button" onclick="address_click()">Addresses</div>
            </nav>
            <div class="output-msg-container"><p id="output-msg">Output</p></div>
            

            <div class="scroll_button_container">
               <textarea id='output-text' class='output-text-class'></textarea>
               <img onclick="scroll_textArea_down()" class="scroll_down_image" id="scroll_down_image" src="/images/arrows-down.png" height="60" width="60">
            </div>

            <button id="refresh_button" class="refresh_button" onclick="button_click()">Clear</button>
            <button id="view_scan_button" class="view_scan_button" onclick="scan_log_click()">View log</button>
            
         </div>
      </div>

   <div class="col-6">
      <div class="image-container">
         <img id="status" src="">
      </div>
      <div class="settings-container">
         <p class="settings-title">Settings</p>
         <hr class="setting_gap">
         <div class="switch-container">
            <p>Debug mode:</p>
            <label class="switch">
               <input onclick='change_settings()' type="checkbox" id="debug_mode">
               <span class="slider round"></span>
            </label>
         </div>
         <hr class="setting_gap">
         <div class="switch-container">
            <p>Verbose mode:</p>
            <label class="switch">
               <input onclick='change_settings()' type="checkbox" id="verbose_mode">
               <span class="slider round"></span>
            </label>
         </div>
         <hr class="setting_gap">
         <div class="switch-container">
            <p>Alerts:</p>
            <label class="switch">
               <input onclick='change_settings()' type="checkbox" id="send_email">
               <span class="slider round"></span>
            </label>
         </div>
         <hr class="setting_gap">
         <div class="switch-container">
            <p>Spider targets:</p>
            <label class="switch">
               <input onclick='change_settings()' type="checkbox" id="spider">
               <span class="slider round"></span>
            </label>
         </div>
         <hr class="setting_gap">
         <div class="switch-container">
            <p>Save reports:</p>
            <label class="switch">
               <input onclick='change_settings()' type="checkbox" id="save_reports">
               <span class="slider round"></span>
            </label>
         </div>
         <hr class="setting_gap">
         <div class="scan_type_container">
            <p class="passive_text">Passive</p>
            <label class="scan_type_switch">
               <input onclick='change_settings()' type="checkbox" id="scan_type">
               <span class="scan_type_slider round"></span>
            </label>
            <p class="active_text">Active</p>
         </div>
      </div>
   </div>
   </div>
   <div class="row">
      <div class="page_down_img_container">
         <img id='page_down_img' class='page_down_img' onclick='scroll_down_page()' src="/images/page-down.png" height="130" width="95">
      </div>
   </div>
   <div class="row">
      <div class="col-4">
         <div id="info_display_0" class="high_info_display">
            <h1 id="high_alert_text">High alert:</h1>
         </div>
      </div>
      <div class="col-4">
         <div id="info_display_1" class="medium_info_display">
            <h1 id="medium_alert_text">Medium alert:</h1>
         </div>
      </div>
      <div class="col-4">
         <div id="info_display_2" class="low_info_display">
            <h1 id="low_alert_text">Low alert:</h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-6">
         <div class="vuln_container">
            <h2>Execution time: </h2>
            <canvas id="execution_time_canvas" width="400" height="200"></canvas>
         </div>
      </div>
      <div class="col-6">
         <div class="sql_vuln_container">
            <h2>Alerts: </h2>
            <canvas id="alerts_over_time" width="400" height="200"></canvas>
         </div>
      </div>
   </div>
   <%- include ('./partials/footer'); %>
</body>

<script src="javascript/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

</html>