<html>
<head>
    <title>Report history</title>
</head>
<style>
    .container{
        background-color: #2e3683;
        color: white;
        margin-top: 12%;
        margin-left: 20%;
        margin-right: 20%;
        padding: 2%;
        padding-top: 0;
        font-size: min(3vw, 30px);
        line-height: 1.8;
        border-radius: 20px;
    }
</style>
<body>
    <div class="report_container">
        <table style="width: 100%;" id="address_list">
            <tr>
                <th>Date</th>
            </tr>
        </table>
    </div>
</body>
</html>