footer{
    position: relative;
    left:0;
    bottom: 0;
    width: 100%;
    padding: 1.5%;
    background-color: rgb(28, 81, 180);
    margin-bottom: -10;
    margin-top: 10%;
    text-align: center;
}

.logos{
    position: absolute;
    float: left;
    margin-left: 3%;
}

.coda_logo{
    width: 180px;
    height: 120px;
}

.github_link{
    color: white;
    font-size: 20px;
    display: inline-block;
    width: 20%;
}

#github_link_img{
    display: inline-block;
    color: white;
    margin-right: 0.6%;
}